#sign
{
    font-size: 25px;
    padding-left: 500px;
}
#last
{
    border: 1.5px solid white;
}
.navbar-nav
{
    font-size: 25px;
    position: absolute; 
    left: 35%; 
}
 
.navbar-brand
{
    font-size: 50px;
    padding-left: 20px;
    padding-bottom: 32px;
    border-radius: 50px;
    border-color: violet coral mediumspringgreen yellow;
    margin-left: 50px;
    border-style: solid;
    border-width: 7px;
}
#image
{
    width: 1200px;
    height: 500px;
}
.centered {
    position: absolute;
  top: 130px;
  left: 285px;
    color: white;
    font-size: 50px;
  }
  
.flip-card-front
{
    border-style: solid;
    border-color: gainsboro;
    border-width: 5px;
}

  .flipCardContainer{
    display: flex;
  align-items: center;
  justify-content: space-between;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  #avtarImg{
    width: 100%;
    height: 300px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
#fcb1{
    background-image: url("https://images.unsplash.com/photo-1614565738408-c8f79fd169aa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    color: white;
    background-size: 300px 300px;
    transform: rotateY(180deg);
}
#fcb2{
    background-image: url(https://images.unsplash.com/photo-1614540625110-f26014e2c2c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80);
    background-size: 300px 300px;
    color: white;
    transform: rotateY(180deg);
}
#fcb3{
    background-image: url("https://images.unsplash.com/photo-1609857070830-59da5b1d17cc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
    background-size: 300px 300px;
    color: white;
    transform: rotateY(180deg);
}
#fcb4{
    background-image: url(https://images.unsplash.com/photo-1593895318152-3230f881ad42?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80);
    background-size: 300px 300px;
    color: white;
    transform: rotateY(180deg);
}
footer {
    text-align: left;
    padding-left: 100px;
    background: violet;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
  }
  
